.mainContainer{border: 1px solid gray;width: 100%;height: auto}
.mainContainer .nav_bar{border:inherit;height: 50px;}
.mainContainer .nav_bar .config{border:inherit;float: right;height: 100%;}

.mainContainer .content{border:inherit;height: 860px;}
.mainContainer .content .left-content{border:inherit;width: 20%;height:inherit;float: left}
.mainContainer .content .right-content{border:inherit;width: 79.5%;height:inherit;float: left}

.mainContainer .content .left-content .search{height: 10%}
.mainContainer .content .left-content .table{height: 80%;overflow:scroll;overflow-x: hidden;overflow-y: auto}
.mainContainer .content .left-content .btn{height: 10%}

.mainContainer .content .left-content .table ul{}
.mainContainer .content .left-content .table ul li{list-style-type:none;margin-bottom: 10px;display: block;height:50px;clear: right}
.comment{margin-right: 5px;float: left;height:50px;}
.comment span{display: block}
.mainContainer .content .left-content .table ul li .merchant{float: left;background: RGB(51,133,255) ;width: 150px;height:50px;text-overflow: ellipsis}

.mainContainer .right-content .btn{height: 5%}
.mainContainer .right-content .dishes{height: 50%;overflow: scroll;overflow-x: hidden;overflow-y: auto}
.mainContainer .right-content .money{height: 35%}
.mainContainer .right-content .action{height: 10%}

.mainContainer .right-content ul {width: 100%;height: 100%;margin: 0px;}
.mainContainer .right-content ul li{list-style-type:none;width: 33%;height: 50px;border: 1px solid gold;float: left}
.mainContainer .right-content ul li .dish{float: left;height: inherit;width: 100px;margin: 5px;text-overflow:ellipsis}
.mainContainer .right-content ul li .chooseNum{float: left;height: inherit;width: 115px;margin: 5px}
.mainContainer .right-content ul li .chooseNum input{width: 50px}
.mainContainer .right-content ul li>.price{float: left;height: inherit;margin: 5px}

.price{ color: #FF6633}
.chosen{ background-color: aqua}
.selected{ background-color: RGB(33,66,131) }

