.container{width: 100%;text-align: center;}

.mainContainer{border: 1px solid gray;width: 1280px;height: auto;text-align: center;margin: auto}
.mainContainer .nav_bar{border:inherit;height: 50px;}
.mainContainer .nav_bar .config{border:inherit;float: right;height: 100%;background-color: gray}

.mainContainer .content{border:inherit;height: 860px;}
.mainContainer .content .left-content{border:inherit;width: 20%;height:inherit;float: left}
.mainContainer .content .right-content{border:inherit;width: 79.5%;height:inherit;float: left}

.mainContainer .content .left-content .search{height: 10%}
.mainContainer .content .left-content .table{height: 80%;overflow:scroll;overflow-x: hidden;overflow-y: auto}
.mainContainer .content .left-content .btn{height: 10%}

.mainContainer .content .left-content .table ul{}
.mainContainer .content .left-content .table ul li{list-style-type:none;margin-bottom: 10px;display: block;height:50px;clear: right}
.comment{margin-right: 5px;float: left;height:50px;}
.comment span{display: block}
.mainContainer .content .left-content .table ul li .merchant{float: left;background: RGB(51,133,255) ;width: 150px;height:50px;text-overflow: ellipsis}

.mainContainer .right-content .btn{height: 5%}
.mainContainer .right-content .dishes{height: 50%;overflow: scroll;overflow-x: hidden;overflow-y: auto}
.mainContainer .right-content .statistics{height: 35%;width: 100%}
.mainContainer .right-content .action{height: 10%}

.mainContainer .right-content .dishesStats{border: 1px solid gold;width: 49%;height:100%;overflow: scroll;overflow-x: hidden;overflow-y: auto;float: left}
.mainContainer .right-content .feesStats{border: 1px solid gold;width: 49%;height:100%;overflow: scroll;overflow-x: hidden;overflow-y: auto;float: left}


.mainContainer .right-content .dishes ul {width: 100%;height: 100%;margin: 0px;}
.mainContainer .right-content .dishes  ul li{list-style-type:none;width: 33%;height: 50px;border: 1px solid gold;float: left}
.mainContainer .right-content .dishes  ul li .dish{float: left;height: 80%;width: 100px;margin: 5px;text-overflow:ellipsis}
.mainContainer .right-content .dishes  ul li .chooseNum{float: left;height: inherit;width: 115px;margin: 5px}
.mainContainer .right-content .dishes  ul li .chooseNum input{width: 50px}
.mainContainer .right-content .dishes  ul li>.price{float: left;height: inherit;margin: 5px}

.price{ color: #FF6633}
.chosen{ background-color: aqua}
.selected{ background-color: RGB(33,66,131) }
.floatRight{ float: right}
.floatLeft{ float: left}
.burning{ background-color: #52ff5a  }
.remove{ background-color: red ;padding: 3px;width: 20px;}
.add{ background-color: greenyellow ;padding: 3px;width: 20px;}

.dialog{width: 600px;height: auto;padding: 5px;text-align: center;z-index: 1010;position: absolute;top: 30%;left: 30%;background-color: white}
.dialog .dialogHead{width: 100%;height: 50px;}
.dialog .dialogHead .close{float: right}
/*.dialog .dialogHead h2 {width: 90%;}*/
.dialog .dialogBody{width: 100%;height: auto;}
.dialog .dialogFoot{width: 100%;height: 50px;}

.dialog table  {width: 100%;}
.dialog table tbody {width: 100%;}
.dialog table tbody tr{width: 100%;}
.dialog table tbody tr td{width: 50%;}

.dialogLayer {z-index: 101;background-color: #000;opacity: 0.6;position: absolute;width: 100%;height: 100%;top: 0%;left: 0%;}


ul.redEnvelope{width: 100%;height:200px;clear: right;overflow: scroll;overflow-x: hidden;overflow-y: auto;}
ul.redEnvelope li{width: 40%;float:left;height:20px;list-style-type:none;padding: 10px;border: 1px solid gold;}

.qcontainer{height: 100%;text-align: center;width: auto;display: flex;}
.qcontainer .queryContainer{border: 1px solid gray;height:800px;width: 100%;text-align: center;margin: auto}

.qcontainer .queryContainer .nav_bar{border:inherit;height: 5%;}

.qcontainer .solutionArea{border:inherit;height:94.9%;width:100%;overflow:scroll;overflow-y: hidden;overflow-x: auto;display: flex;align-items: stretch;}
.qcontainer .solutionArea .solutionContainer{border: 1px solid gold;height: inherit;}
.qcontainer .solutionArea .solutionContainer .solution{width: 600px;height: inherit;overflow:scroll;overflow-x: auto;overflow-y: auto;display: flex;flex-direction: column;}

.queryContainer  .statistics{height: 50%;width: 100%}
.queryContainer  .dishesStats{border: 1px solid gold;width: 49%;height:100%;float: left;overflow:scroll;overflow-x: hidden;overflow-y: auto;}
.queryContainer  .feesStats{border: 1px solid gold;width: 49%;height:100%;float: left;overflow:scroll;overflow-x: hidden;overflow-y: auto;}


