.number{
    cursor: move;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px black solid;
    text-align: center;
    margin: 3px;
    color: black;
}

.tile {
    width: auto;
    min-width: 100px;
    height: auto;
    /*min-height: 100px;*/

    color: #FF7270;
    padding: 10px 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    border: 1px greenyellow dashed;
}
.tile .tile_name {
    /*cursor: move;*/
    padding-bottom: 3px;
    border-bottom: 1px solid #FF7373;
}
.tile .tile_list {
    margin-top: 10px;

}

.tile .tile_list .sort_placeholder {
    background-color: #ddd;
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #FF7373;
    display: block;
    padding: 5px;
}

.selected{
    background-color: blue;
}