<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:webflow="http://www.springframework.org/schema/webflow-config"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
 http://www.springframework.org/schema/webflow-config
           http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd"
        >
    <!--<context:component-scan base-package="com.jiangli.springMVC" />-->

    <context:component-scan base-package="com.jiangli" >
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config />

    <!-- shared-config.xml -->
    <webflow:flow-registry id="sharedFlowRegistry">
        <!-- Global flows shared by several applications -->
        <webflow:flow-location path="classpath*:shared-flow.xml" />
    </webflow:flow-registry>

    <!---->
    <webflow:flow-registry
            id="flowRegistryX"
            base-path="classpath*:"
            parent="sharedFlowRegistry"
    >
            <!--flow-builder-services="flowBuilderServices"-->
        <webflow:flow-location path="classpath*:bookhotel-flow.xml" id="bookHotel">
            <webflow:flow-definition-attributes>
                <webflow:attribute name="caption" value="Books a hotel" />
            </webflow:flow-definition-attributes>
        </webflow:flow-location>

        <webflow:flow-location-pattern value="classpath*:o-*-flow.xml" />
    </webflow:flow-registry>

    <!--执行器-->
    <webflow:flow-executor id="flowExecutor"  flow-registry="flowRegistryX">
        <!--The max-executions attribute is per user session, i.e. it works across instances of any flow definition.
-->
        <!--History snapshots enable browser back button support. When snapshotting is disabled pressing the browser back button will not work. It will result in using an execution key that points to a snapshot that has not be recorded.-->
        <!--To disable snapshotting, set this value to 0. To enable an unlimited number of snapshots, set this value to -1.-->
        <webflow:flow-execution-repository max-executions="5" max-execution-snapshots="30" />


        <!--<webflow:flow-execution-listeners>-->
            <!--<webflow:listener ref="securityListener" criteria="securedFlow1,securedFlow2"/>-->
            <!--<webflow:listener ref="persistenceListener"/>-->
        <!--</webflow:flow-execution-listeners>-->
    </webflow:flow-executor>



    <!--<webflow:flow-builder-services id="flowBuilderServices"-->
                                   <!--conversion-service="conversionService"-->
                                   <!--expression-parser="expressionParser"-->
                                   <!--view-factory-creator="viewFactoryCreator" />-->

    <!--<bean id="conversionService" class="..." />-->
    <!--<bean id="expressionParser" class="..." />-->
    <!--<bean id="viewFactoryCreator" class="..." />-->

</beans>